# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.so
*.egg
*.egg-info
dist
build
*.mo
.history

# Pelican
output
cache

#develop_server.sh
# If you are using a pelican theme installed via pip, uncomment the next line
#pelican-themes

# If you use a Makefile, uncomment the next line
Makefile